html {
    height: 100%;
    --primaryColor: #733fa7;
    --primaryColorLight: #9a6cc9;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.body-wide {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content max-content 1fr;
}

/*===========================
            Header
===========================*/

header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: var(--primaryColor);
    display: flex;
    height: 4rem;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: .5rem;
    z-index: 2;
}

.h1Link {
    flex-grow: 1;
}

h1 {
    padding: .5rem;
    flex-grow: 1;
    margin: 0;
}

h1:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.logo {
    height: 3rem;
    display: block;
}

.headerButton {
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    box-sizing: border-box;
    transition: all 300ms 0s ease;
    cursor: pointer;
}

.headerButton:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.invalidLinkErrorMsg {
    position: absolute;
    top: 8rem;
    z-index: 2;
    background-color: #ddd;
    color: #111;
    border: solid 2px #111;
    border-radius: .4rem;
    font-size: 1.3rem;
    padding: 2rem;
    pointer-events: none;
    animation: invalidLinkErrorMsgAnimation 10s ease 2s 1 normal forwards;
}

@keyframes invalidLinkErrorMsgAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*=====================================
        Menu 左サイドに表示するメニュー
=====================================*/

.menu-list {
    position: fixed;
    width: 80%;
    height: 100%;
    top: 0;
    background-color: #ddd;
    z-index: 2;
    animation-duration: 300ms;
    animation-timing-function: ease;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
}

.menu-wide {
    width: 20rem;
    height: calc(100% - 4rem);
    background-color: #ddd;
    position: fixed;
    top: 4rem;
}

.menu-list-open {
    animation-name: menu-open;
}

.menu-list-close {
    animation-name: menu-close;
    pointer-events: none;
}

@keyframes menu-open {
    0% {
        left: -80%;
    }
    100% {
        left: 0;
    }
}

@keyframes menu-close {
    0% {
        left: 0;
    }
    100% {
        left: -80%;
    }
}

.menu-shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    animation-duration: 300ms;
    animation-timing-function: ease;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.menu-shadow-appear {
    animation-name: shadow-appear;
}

.menu-shadow-disappear {
    animation-name: shadow-disappear;
    pointer-events: none;
}

@keyframes shadow-appear {
    0% {
        background-color: rgba(0, 0, 0, 0)
    }
    100% {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

@keyframes shadow-disappear {
    0% {
        background-color: rgba(0, 0, 0, 0.7)
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

.menu-account {
    display: flex;
    flex-direction: column;
    background-color: var(--primaryColor);
    padding: 1rem;
    text-decoration: none;
}

.menu-noLogin {
    text-align: center;
    font-size: 1rem;
    color: #ddd;
    padding: 1rem 0;
}

.menu-logInsignUpButtonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.menu-logInButton {
    background-color: #aaa;
    color: #111;
    text-align: center;
    padding: 1rem 0;
    border-radius: .4rem;
    text-decoration: none;
}

.menu-logInButton:hover {
    background-color: #ccc;
}

.menu-signUpButton {
    background-color: #aaa;
    color: #111;
    text-align: center;
    padding: 1rem 0;
    border-radius: .4rem;
    text-decoration: none;
}

.menu-signUpButton:hover {
    background-color: #ccc;
}

.menu-account-image {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.menu-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    user-select: none;
    text-decoration: none;
    color: #000;
}

.menu-item:hover {
    background-color: #ccc;
    cursor: pointer;
}

/*===========================
            Main Tab
===========================*/

.mainTab {
    background-color: #f0f0f0;
    display: grid;
    width: 100%;
    grid-template-rows: 3rem 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 4rem;
    z-index: 1;
}

.mainTab-wide {
    position: fixed;
    left: 20rem;
    top: 4rem;
    width: calc( 100% - 20rem);
}

.mainTab-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    user-select: none;
    cursor: pointer;
    transition: all 300ms 0s ease;
}

.mainTab-item:hover {
    background-color: #ddd;
    color: var(--primaryColor);
}

.mainTab-item-select {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primaryColor);
    user-select: none;
    font-weight: bold;
}

.mainTab-selectLineArea {
    position: relative;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    width: 100%;
    top: -4px;
    pointer-events: none;
}

.mainTab-selectLine {
    position: absolute;
    background-color: var(--primaryColor);
    height: 100%;
    transition: all 300ms 0s ease;
}

/*===========================
            Item List
===========================*/

.item {
    display: flex;
    flex-direction: column;
    box-shadow: #000 0 1px 3px;
    padding: .5rem;
    text-decoration: none;
    color: black;
}

.item:hover {
    background-color: #ccc;
}

.itemTitle {
    font-size: 1.5rem;
    overflow-wrap: break-word;
}

.itemPrice {
    align-self: flex-end;
    font-size: 1.3rem;
}

.itemImage {
    width: 100%;
    object-fit: contain;
}

img {
    display: block;
}

/*===========================
        Exhibit Button
===========================*/

.exhibitButton {
    position: fixed;
    bottom: 3rem;
    right: 1rem;
    border-radius: 50%;
    background-color: orange;
    color: #000;
    width: 6rem;
    height: 6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*===============================
        Exhibition 出品画面
===============================*/

.exhibitionView-photo {
    width: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

.exhibitionView-photo-input {
    min-width: 10rem;
}

.exhibitionView-photo-icon {
    width: 3rem;
    height: 3rem;
}

.exhibitionView-photo-image {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
}

.exhibitionView-itemTitleAndDescription {
    padding: 1rem;
    display: grid;
    align-content: flex-start;
    grid-gap: 1rem;
}

.exhibitionView-itemTitle {
    width: 100%;
    font-size: 2rem;
    border: none;
    border-bottom: #aaa 2px solid;
}

.exhibitionView-itemTitle:focus {
    border-bottom: var(--primaryColor) 2px solid;
    outline: none;
}

.exhibitionView-itemDescription {
    width: 100%;
    height: 6rem;
    font-size: 1.3rem;
    resize: none;
    border: none;
    -webkit-overflow-scrolling: touch;
    border-bottom: #aaa 2px solid;
}

.exhibitionView-itemDescription:focus {
    border-bottom: var(--primaryColor) 2px solid;
    outline: none;
}

.exhibitionView-itemPrice {
    padding: 1rem;
    display: grid;
    align-content: flex-start;
    grid-gap: 1rem;
}

.exhibitionView-itemPrice-input {
    display: flex;
    width: auto;
}

.exhibitionView-itemPrice-input-input {
    flex-grow: 1;
    text-align: right;
    font-size: 2.3rem;
    width: 4rem;
    border: none;
    border-bottom: #aaa 2px solid;
}

.exhibitionView-itemPrice-input-input:focus {
    border-bottom: var(--primaryColor) 2px solid;
    outline: none;
}

/*===============================================
                Log In ログイン画面
===============================================*/

.logIn-Container {
    display: flex;
    justify-content: center;
}


.logIn {
    display: grid;
    max-width: 40rem;
    gap: 1rem;
}

.logIn-group {
    display: grid;
    background-color: #eee;
    gap: 1.5rem;
    padding: 1.5rem;
}

.logIn-item {
    width: 100%;
}

.logIn-subTitle {
    font-size: 1.2rem;
}

.logIn-subTitle-forgotPassword {
    color: rgb(25, 99, 128);
    font-size: 1rem;
    padding: 0 1rem;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
}

.logIn-subTitle-forgotPassword:hover {
    color: rgb(42, 136, 173);
    background-color: #ccc;
}

.logIn-input {
    font-size: 1.2rem;
    padding: .4rem;
    width: 100%;
    border: solid 2px #000;
    box-sizing: border-box;
    border-radius: .4rem;
}

.logIn-logInButton {
    background-color: var(--primaryColor);
    color: #ddd;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: .4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    border: none;
    user-select: none;
    width: 100%;
}

.logIn-logInButton:hover {
    background-color: var(--primaryColorLight);
    color: #111;
    cursor: pointer;
}

.logIn-logInButton:disabled {
    background-color: #aaa;
    color: #ddd;
}

.logIn-orLabel {
    color: #aaa;
    font-size: 1rem;
    text-align: center;
}

.logIn-signInButton {
    background-color: #999;
    color: #111;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    border-radius: .4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    border: none;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    cursor: pointer;
}

.logIn-signInButton:hover {
    background-color: #bbb;
}

/*===============================================
                Sign Up 新規登録画面
===============================================*/

.signUpContainer {
    display: flex;
    justify-content: center;
}

.signUp {
    display: grid;
    max-width: 40rem;
    gap: 1rem;
    padding: 1.5rem;
    box-sizing: border-box;
}

.signUp-label {
    font-size: 1.5rem;
}

.signUp-select {
    width: 100%;
    padding: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

.signUp-select-item {
    background-color: #999;
    padding: .5rem;
    text-align: center;
    user-select: none;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.signUp-select-item:hover {
    background-color: #bbb;
    color: #111;
}

.signUp-select-itemSelect {
    background-color: var(--primaryColor);
    color: white;
}

.signUp-select-itemSelect:hover {
    background-color: var(--primaryColorLight);
    color: #111;
}

.signUp-description {
    font-size: 1rem;
}

.signUp-input {
    font-size: 1.2rem;
    padding: .4rem;
    width: 100%;
    border: solid 2px #000;
    box-sizing: border-box;
    border-radius: .4rem;
}

.signUp-image {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    border: solid 1px #111;
}

.signUp-signUpButton {
    background-color: var(--primaryColor);
    color: #ddd;
    padding: 1rem;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    border-radius: .4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    user-select: none;
}

.signUp-signUpButton:hover {
    background-color: var(--primaryColorLight);
    color: #111;
    cursor: pointer;
}

.signUp-signUpButton:disabled {
    background-color: #aaa;
    color: #ddd;
}

.signUp-resultMsg {
    padding: 1rem;
}

/*===============================================
           Main View 画面に主に表示する場所
===============================================*/

.mainView {
    display: block;
    width: 100%;
    padding: 7rem 0 0 0;
    word-wrap: break-word;
    overflow: hidden;
}

.mainView-noMainTab {
    display: block;
    width: 100%;
    padding: 4rem 0 0 0;
    word-wrap: break-word;
    overflow: hidden;
}

.mainView-wide {
    padding: 7rem 0 0 20rem;
    box-sizing: border-box;
}

.mainView-wide-noMainTab {
    padding: 4rem 0 0 20rem;
    box-sizing: border-box;
}
.mainView-simpleText {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
    margin: 0;
}