{
  "openapi": "3.0.2",
  "info": {
    "title": "tsukumart api",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://tsukumart-demo.firebaseapp.com/api/"
    }
  ],
  "tags": [
    {
      "name": "auth",
      "description": "認証"
    },
    {
      "name": "users",
      "description": "ユーザーについて"
    },
    {
      "name": "currentUser",
      "description": "自分について"
    },
    {
      "name": "goods",
      "description": "商品について"
    }
  ],
  "paths": {
    "/sign-up": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "ユーザーの新規登録に必要な情報を送って、認証メールを送信する",
        "description": "ユーザーの新規登録に必要な情報を送って、認証メールを送信する",
        "operationId": "getConfirmToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "format": "email"
                          },
                          "image": {
                            "type": "string",
                            "format": "dataUrl"
                          }
                        },
                        "required": [
                          "email",
                          "image"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "email": {
                            "$ref": "#/components/schemas/SAddress"
                          }
                        },
                        "required": [
                          "email"
                        ]
                      }
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "password": {
                        "$ref": "#/components/schemas/Password"
                      },
                      "displayName": {
                        "type": "string",
                        "$ref": "#/components/schemas/DisplayName"
                      }
                    },
                    "required": [
                      "password",
                      "displayName"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "university": {
                        "$ref": "#/components/schemas/University"
                      }
                    },
                    "required": [
                      "university"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "エラー",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "examples": {
                  "emailの指定がされていない": {
                    "value": "need email field"
                  },
                  "emailの指定がstringではない": {
                    "value": "email field must be string but request type is number"
                  },
                  "無効なemailが指定されている。メールアドレスの形式になっていない": {
                    "value": "invalid email address"
                  },
                  "Sアド以外のメールアドレスを指定したのにimageが指定されていない": {
                    "value": "need image field when email is not S Address"
                  },
                  "imageの指定がstringではない": {
                    "value": "image field must be string but request type is number"
                  },
                  "imageの指定がデータURLのbase64でエンコードされたimage/pngかimage/jpegでない": {
                    "value": "image format only support DataURL base64 image/png image/jpeg"
                  },
                  "passwordの指定がされていない": {
                    "value": "need password field"
                  },
                  "passwordの指定がstringではない": {
                    "value": "password must be string but request type is number"
                  },
                  "passwordの長さが9～50の範囲に入っていない": {
                    "value": "password must be 9 <= (password legth) <= 50 but request password length = 1"
                  },
                  "passwordで使えない文字が指定された": {
                    "value": "password only use visible non space ASCII char (U+0021-U+007E) but request password use = [あ,い,う]"
                  },
                  "passwordが弱いと判断された": {
                    "value": "password is week"
                  },
                  "displayNameの指定がされていない": {
                    "value": "need displayName field"
                  },
                  "displayNameの指定が文字列でない": {
                    "value": "displayName must be string but request type is number"
                  },
                  "displayNameの長さが1～50の範囲に入っていない": {
                    "value": "`displayName must be 1 <= (displayName length) <= 50 but request displayName length = 99"
                  },
                  "universityの指定がされていない": {
                    "value": "need university field"
                  },
                  "universityの指定がobject以外でされた": {
                    "value": "university field must be object"
                  },
                  "graduateとdepartmentの両方の指定がされていない": {
                    "value": "need graduate field or department field"
                  },
                  "universityの指定を理解することができなかった": {
                    "value": "university code error"
                  }
                }
              }
            }
          },
          "200": {
            "description": "認証トークンの入ったメールアドレスを送信した"
          }
        }
      }
    },
    "/users": {
      "get": {
        "tags": [
          "users"
        ],
        "summary": "すべてのユーザーを取得する",
        "description": "すべてのユーザーを取得する",
        "operationId": "getUser",
        "responses": {
          "200": {
            "description": "正常終了"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "University": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "department": {
                "$ref": "#/components/schemas/Department"
              },
              "graduate": {
                "$ref": "#/components/schemas/Graduate"
              }
            },
            "required": [
              "department",
              "graduate"
            ]
          },
          {
            "type": "object",
            "properties": {
              "department": {
                "$ref": "#/components/schemas/Department"
              }
            },
            "required": [
              "department"
            ]
          },
          {
            "type": "object",
            "properties": {
              "graduate": {
                "$ref": "#/components/schemas/Graduate"
              }
            },
            "required": [
              "graduate"
            ]
          }
        ]
      },
      "Graduate": {
        "type": "string",
        "enum": [
          "education",
          "hass",
          "gabs",
          "pas",
          "sie",
          "life",
          "chs",
          "slis",
          "global"
        ]
      },
      "Department": {
        "type": "string",
        "enum": [
          "humanity",
          "culture",
          "japanese",
          "social",
          "cis",
          "education",
          "psyche",
          "disability",
          "biol",
          "bres",
          "earth",
          "math",
          "phys",
          "chem",
          "coens",
          "esys",
          "pandps",
          "coins",
          "mast",
          "klis",
          "med",
          "nurse",
          "ms",
          "aandd",
          "sport"
        ]
      },
      "SAddress": {
        "type": "string",
        "pattern": "^s(\\d{7})@[a-zA-Z0-9]+\\.tsukuba\\.ac\\.jp$"
      },
      "Password": {
        "type": "string",
        "pattern": "^[!-~]{9,50}$"
      },
      "DisplayName": {
        "type": "string",
        "minLength": 1,
        "maxLength": 50
      }
    }
  }
}