:root {
  --primaryColor: rgb(115, 63, 167);
  --primaryColorLight: rgb(154, 108, 201);
}
/*===============================================
                product 商品詳細画面
===============================================*/
.product-price {
  font-size: 1.5rem;
}

.product-deleteButton {
  background-color: #bd2e2e;
  color: #eee;
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
}

.product-deleteButton:hover {
  background-color: #dd5454;
}

/*===============================================
                Log In ログイン画面
===============================================*/

.logIn-Container {
  display: flex;
  justify-content: center;
}

.logIn {
  display: grid;
  max-width: 40rem;
  gap: 1rem;
}

.logIn-logInButton {
  background-color: var(--primaryColor);
  color: #ddd;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  border: none;
  user-select: none;
  width: 100%;
}

.logIn-logInButton:hover {
  background-color: var(--primaryColorLight);
  color: #111;
  cursor: pointer;
}

.logIn-logInButton:disabled {
  background-color: #aaa;
  color: #ddd;
}

.logIn-orLabel {
  color: #aaa;
  font-size: 1rem;
  text-align: center;
}
/*===============================================
                ユーザーページ画面
===============================================*/
.profile-title {
  font-size: 1.5rem;
}

.profile-editButtonArea {
  display: flex;
  flex-direction: row;
}

.profile-editOkButton {
  background-color: var(--primaryColor);
  color: #ddd;
  fill: #ddd;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.profile-editOkButton:hover {
  background-color: var(--primaryColorLight);
  color: #111;
  fill: #111;
}

.profile-editOkButton:disabled {
  background-color: #aaa;
  color: #ddd;
  fill: #ddd;
}

.profile-editCancelButton {
  background-color: #999;
  color: #111;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  border: none;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  cursor: pointer;
  flex-grow: 1;
}

.profile-editCancelButton:hover {
  background-color: #bbb;
}

/*===============================================
          product List 商品一覧 コンポーネント
===============================================*/

.productList-item {
  display: grid;
  border: solid 1px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  color: black;
}

.productList-item:hover {
  background-color: #ccc;
}

.productList-name {
  font-size: 1.1rem;
  overflow-wrap: break-word;
  padding: 4px 8px;
}

.productList-priceAndLike {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 8px;
}

.productList-like-noLogIn {
  user-select: none;
  padding: 8px;
  border: solid 1px #aaa;
  font-size: 0.8rem;
}

.productList-like {
  background-color: #aaa;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  padding: 8px;
  border: none;
  font-size: 0.8rem;
}

.productList-like:hover {
  background-color: #888;
}

.productList-liked {
  background-color: var(--primaryColor);
  color: white;
}

.productList-liked:hover {
  background-color: var(--primaryColorLight);
}
/*===============================================
           Main View 画面に主に表示する場所
===============================================*/

.container {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

/*===============================================
           Main Button 押したくなるようなボタン
===============================================*/

.mainButton {
  background-color: var(--primaryColor);
  color: #ddd;
  fill: #ddd;
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  border: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
}

.mainButton:hover {
  background-color: var(--primaryColorLight);
  color: #111;
  fill: #111;
  cursor: pointer;
}

.mainButton-disabled {
  background-color: #aaa;
  color: #ddd;
  fill: #ddd;
}

.mainButton-disabled:hover {
  background-color: #aaa;
  color: #ddd;
  fill: #ddd;
}

.subButton {
  background-color: #999;
  color: #111;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  border: none;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subButton:hover {
  background-color: #bbb;
}

/*===============================================
        Form ユーザーに情報を入力させる画面
===============================================*/

.form {
  display: grid;
  max-width: 40rem;
  gap: 1.5rem;
  padding: 1.5rem;
  box-sizing: border-box;
  width: 100%;
  word-break: break-word;
}

.form-select {
  width: 100%;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
}

.form-description {
  font-size: 1rem;
}

.form-input {
  font-size: 1.2rem;
  padding: 0.4rem;
  width: 100%;
  border: solid 1px #ccc;
  box-sizing: border-box;
  border-radius: 0.4rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  outline: none;
}

.form-input:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  border: solid 1px rgb(102, 175, 233);
}

.form-textarea {
  font-size: 1.2rem;
  height: 128px;
  padding: 0.4rem;
  width: 100%;
  border: solid 1px #ccc;
  box-sizing: border-box;
  border-radius: 0.4rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  outline: none;
  resize: none;
}

.form-textarea:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  border: solid 1px #66afe9;
}

.form-image {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border: solid 1px #111;
}

.form-menu {
  display: block;
  width: 100%;
  height: 4rem;
  border: solid 2px #000;
  box-sizing: border-box;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  border: solid 1px #ccc;
}
