:root {
  --primaryColor: rgb(115, 63, 167);
  --primaryColorLight: rgb(154, 108, 201);
}
/*===============================================
        Form ユーザーに情報を入力させる画面
===============================================*/

.form {
  display: grid;
  max-width: 40rem;
  gap: 1.5rem;
  padding: 1.5rem;
  box-sizing: border-box;
  width: 100%;
  word-break: break-word;
}

.form-select {
  width: 100%;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
}

.form-description {
  font-size: 1rem;
}

.form-input {
  font-size: 1.2rem;
  padding: 0.4rem;
  width: 100%;
  border: solid 1px #ccc;
  box-sizing: border-box;
  border-radius: 0.4rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  outline: none;
}

.form-input:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  border: solid 1px rgb(102, 175, 233);
}

.form-textarea {
  font-size: 1.2rem;
  height: 128px;
  padding: 0.4rem;
  width: 100%;
  border: solid 1px #ccc;
  box-sizing: border-box;
  border-radius: 0.4rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  outline: none;
  resize: none;
}

.form-textarea:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  border: solid 1px #66afe9;
}

.form-image {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border: solid 1px #111;
}

.form-menu {
  display: block;
  width: 100%;
  height: 4rem;
  border: solid 2px #000;
  box-sizing: border-box;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  border: solid 1px #ccc;
}
